# VM images
build-heaven
build-heaven-exam
build-iotlab
build-kali
build-suasploitable-basic
build-suasploitable-cloud
build-suasploitable-cms

# Downloaded dependency files
dependencies

# Script to push exams to the university's fileserver
files/pushExam.sh

*.backup

# Generated certificates for CA and servers
files/ca/suaseclab.de.*
files/ca/suasploitable_ca.*